# SQL Command Snippets

## 1. Create Table

In [ ]:
CREATE TABLE logs(
	Date DATE,
	Time TIME,
	Type VARCHAR(10),
	Data VARCHAR(MAX))

## 2. Insert into table

In [ ]:
INSERT INTO logs(Date, Time, Type, Data) 
VALUES ('Date_value', 'Time_value','Type_value', 'Data_value')

## 3. Bulk Insert from CSV file

In [ ]:
BULK INSERT logs
FROM 'F:\python projects\logprocess\newlog.csv'
WITH (
	FIELDTERMINATOR = ',',
	ROWTERMINATOR = '\n',
	FIRSTROW = 2
	)

## 4. Date Format codes

In [ ]:
DATE ONLY FORMATS
Format #	Query	Format	Sample
1	select convert(varchar, getdate(), 1)	mm/dd/yy	12/30/06
2	select convert(varchar, getdate(), 2)	yy.mm.dd	06.12.30
3	select convert(varchar, getdate(), 3)	dd/mm/yy	30/12/06
4	select convert(varchar, getdate(), 4)	dd.mm.yy	30.12.06
5	select convert(varchar, getdate(), 5)	dd-mm-yy	30-12-06
6	select convert(varchar, getdate(), 6)	dd-Mon-yy	30 Dec 06
7	select convert(varchar, getdate(), 7)	Mon dd, yy	Dec 30, 06
10	select convert(varchar, getdate(), 10)	mm-dd-yy	12-30-06
11	select convert(varchar, getdate(), 11)	yy/mm/dd	06/12/30
12	select convert(varchar, getdate(), 12)	yymmdd	061230
23	select convert(varchar, getdate(), 23)	yyyy-mm-dd	2006-12-30
101	select convert(varchar, getdate(), 101)	mm/dd/yyyy	12/30/2006
102	select convert(varchar, getdate(), 102)	yyyy.mm.dd	2006.12.30
103	select convert(varchar, getdate(), 103)	dd/mm/yyyy	30/12/2006
104	select convert(varchar, getdate(), 104)	dd.mm.yyyy	30.12.2006
105	select convert(varchar, getdate(), 105)	dd-mm-yyyy	30-12-2006
106	select convert(varchar, getdate(), 106)	dd Mon yyyy	30 Dec 2006
107	select convert(varchar, getdate(), 107)	Mon dd, yyyy	Dec 30, 2006
110	select convert(varchar, getdate(), 110)	mm-dd-yyyy	12-30-2006
111	select convert(varchar, getdate(), 111)	yyyy/mm/dd	2006/12/30
112	select convert(varchar, getdate(), 112)	yyyymmdd	20061230

## 5. Default format date is saved in SQL Server

In [ ]:
YYYY-MM-DD

## 6. Convert date format manually while inserting

In [ ]:
INSERT INTO logs (Date)
VALUES (CONVERT(date,'22-12-2016',105))

## 7. Convert date while Bulk Insert

In [ ]:
SET DATEFORMAT dmy
BULK INSERT logs
FROM 'F:\python projects\logprocess\newlog.csv'
WITH (
	FIELDTERMINATOR = ',',
	ROWTERMINATOR = '\n',
	FIRSTROW = 2
	)

## 8. Data Manipulations

### 1. SELECT

In [ ]:
SELECT * FROM logs
SELECT TOP 100 * FROM logs
SELECT TOP 100 Date FROM logs

In [ ]:
### 2.